.actions {
  width: 100%;
  box-shadow: var(--mat-sys-level4);
  display: flex;

  &--space {
    justify-content: space-between;
  }

  h2 {
    margin: 6px auto;
  }

  .close {
    position: absolute;
  }
}

mat-form-field {
  width: 100%;
}

.address {
  display: flex;
  gap: 1rem;
}
