.actions {
  width: 100%;
  box-shadow: var(--mat-sys-level4);
  display: flex;

  &--space {
    justify-content: space-between;
  }
}

mat-form-field {
  width: 100%;
}

.address {
  display: flex;
  gap: 1rem;
}
