<h1 class="heading">Offboarding</h1>
<div class="top">
  <h2 class="subheading">Employees</h2>
  <mat-form-field subscriptSizing="dynamic" appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name, email" type="text">
    <mat-icon class="icon" matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="table-wrapper">
  <table class="table" mat-table matSort [dataSource]="employees">
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by full name">Full Name</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">Email</th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let employee">{{ employee.department }}</td>
    </ng-container>

    <ng-container matColumnDef="equipments">
      <th mat-header-cell *matHeaderCellDef>Equipment</th>
      <td mat-cell *matCellDef="let employee">
        @for (eq of employee.equipments; track eq.id) {
          <span class="eq-name">{{ eq.name }}</span>
        }
        @if (employee.equipments.length === 0) {
        <span class="eq-name">-</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let employee">{{ employee.status }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="redirectToEmployee(row.id)" mat-row *matRowDef="let row; columns: displayedColumns" class="table__row"></tr>
  </table>
</div>
