:host {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.heading {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.subheading {
  width: 180px;
  height: 42px;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 0;
  border-bottom: 2px solid;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  background-color: var(--mat-sys-surface);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.table-wrapper {
  overflow-x: auto;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow: var(--mat-sys-level3);
}

.table {
  width: 100%;
  overflow: hidden;

  &__row:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
  }
}

.search {
  margin-bottom: 0.5rem;
}

.icon {
  color: var(--color-primary);
}

.eq-name:not(:last-child)::after {
  content: ",";
  margin-right: 0.5rem;
}
